<!DOCTYPE html>
<html>

<head>
    <title>Eu sobreviveria no titanic?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>Descubra se você sobreviveria no Titanic:</h1>
    <form method="POST" action="{{url_for('input_data')}}">
        <div class="form-group">
            <label for="Pclass">Classe</label>
            <input type="text" name="Pclass" id="Pclass">
        </div>
        <div class="form-group">
            <label for="Name">Nome</label>
            <input type="text" name="Name" id="Name">
        </div>
        <div class="form-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Sex">Sexo</label>
            </div>
            <select name="Sex" id="Sex" class="custom-select">
                <option value="male" selected>Masculino</option>
                <option value="female">Feminino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Age">Idade</label>
            <input type="number" class="Age" id="Age">
        </div>
        <div class="form-group">
            <label for="SibSp">SibSp</label>
            <input type="text" name="SibSp" id="SibSp">
        </div>
        <div class="form-group">
            <label for="Parch">Parch</label>
            <input type="text" name="Parch" id="Parch">
        </div>
        <div class="form-group">
            <label for="Ticket">Ticket</label>
            <input type="text" name="Ticket" id="Ticket">
        </div>
        <div class="form-group">
            <label for="Fare">Tarifa</label>
            <input type="number" name="Fare" id="Fare">
        </div>
        <div class="form-group">
            <label for="Cabin">Cabine</label>
            <input type="text" name="Cabin" id="Cabin">
        </div>
        <div class="form-group">
            <label for="Embarked">Embarcado</label>
            <input type="text" name="Embarked" id="Embarked">
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary">


    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>